.board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 1px;
  border: 1px solid #ccc;
}

.board-cell {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-tile {
  background-color: #f1c40f;
  padding: 5px;
  border-radius: 3px;
}
